<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="61fb6e61-961e-47f0-bcaf-f0a6ba5e3fbe" Publisher="CN=MIC10" Version="1.0.0.0" />
  <Properties>
    <DisplayName>GamePedia</DisplayName>
    <PublisherDisplayName>MIC10</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="GamePedia.App">
      <VisualElements DisplayName="GamePedia" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Game encyclopedia" ForegroundText="light" BackgroundColor="#080808">
        <DefaultTile ShowName="allLogos" ShortName="GamePedia" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SpashScreen.png" BackgroundColor="#080808" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
        <Extension Category="windows.shareTarget">
          <ShareTarget>
            <DataFormat>text</DataFormat>
            <DataFormat>uri</DataFormat>
          </ShareTarget>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>